*, ::after, ::before {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
body, html {
	height: 100%;
	font-family: "Oxygen", sans-serif;
	background: url(../imagens/fotoesm.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
:root {
	--blue:#007bff: ;
	--indigo:#6610f2: ;
	--purple:#6f42c1: ;
	--pink:#e83e8c: ;
	--red:#dc3545: ;
	--orange:#fd7e14: ;
	--yellow:#ffc107: ;
	--green:#28a745: ;
	--teal:#20c997: ;
	--cyan:#17a2b8: ;
	--white:#fff: ;
	--gray:#6c757d: ;
	--gray-dark:#343a40: ;
	--primary:#007bff: ;
	--secondary:#6c757d: ;
	--success:#28a745: ;
	--info:#17a2b8: ;
	--warning:#ffc107: ;
	--danger:#dc3545: ;
	--light:#f8f9fa: ;
	--dark:#343a40: ;
	--breakpoint-xs:0: ;
	--breakpoint-sm:576px: ;
	--breakpoint-md:768px: ;
	--breakpoint-lg:992px: ;
	--breakpoint-xl:1200px: ;
	--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji": ;
	--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace: ;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
/* @media all and (min-width:576px) */
.container {
	max-width: 540px;
}
/* @media all and (min-width:768px) */
.container {
	max-width: 720px;
}
/* @media all and (min-width:992px) */
.container {
	max-width: 960px;
}
/* @media all and (min-width:1200px) */
.container {
	max-width: 1140px;
}
.fade {
	transition: opacity .15s linear;
}
.modal {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;
}
:not(.show).fade {
	opacity: 0;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.border-top {
	border-top: 1px solid #dee2e6 !important;
}
.border-right {
	border-right: 1px solid #dee2e6 !important;
}
.border-left {
	border-left: 1px solid #dee2e6 !important;
}
.mr-0, .mx-0 {
	margin-right: 0px !important;
}
.ml-0, .mx-0 {
	margin-left: 0px !important;
}
textarea {
	overflow: auto;
	resize: vertical;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button, select {
	text-transform: none;
}
button, input {
	overflow: visible;
}
.form-control {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.w-100 {
	width: 100% !important;
}
.p-2 {
	padding: .5rem !important;
}
.indexfooter {
	color: black;
	background-color: white;
	border-radius: 7px;
}
.grecaptcha-badge {
	bottom: 100px !important;
}
button {
	border-radius: 0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
/* @media all and (min-width:768px) */
.col-md-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.66%;
}
.m-1 {
	margin: .25rem !important;
}
p {
	margin-top: 0px;
	margin-bottom: 1rem;
}
/* @media all and (min-width:768px) */
.col-md-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
/* @media all and (min-width:768px) */
.col-md-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.mb-1, .my-1 {
	margin-bottom: 0.25rem !important;
}
.mt-2, .my-2 {
	margin-top: 0.5rem !important;
}
.p-1 {
	padding: .25rem !important;
}
/* @media all and (min-width:768px) */
.col-md-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.66%;
}
.pt-2, .py-2 {
	padding-top: 0.5rem !important;
}
a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}
.h5, h5 {
	font-size: 1.25rem;
}
.small, small {
	font-size: 80%;
	font-weight: 400;
}
.text-center {
	text-align: center !important;
}
.login-button {
	margin-top: 5px;
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	border-radius: 5px;
}
.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0px 1px 0px #fff;
	opacity: 0.5;
}
[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: button;
}
.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn-group-lg > .btn, .btn-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}
.btn-block {
	display: block;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0.5rem;
}
.h6, h6 {
	font-size: 1rem;
}
.lead {
	font-size: 1.25rem;
	font-weight: 300;
}
.text-left {
	text-align: left !important;
}
.btninsidedropup {
	background-color: #cccaca;
	border-color: #4491e4;
	color: black;
}
.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-secondary {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
	border-radius: 5px;
}
.teccardbtn {
	border: 1px solid #3f9e3f;
	border-radius: 3px;
	background-color: #47c347;
	color: white;
}
:not(:disabled):not(.disabled).btn {
	cursor: pointer;
}
.fa, .fab, .fal, .far, .fas {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}
.far {
	font-weight: 400;
}
.fa-lg {
	font-size: 1.33em;
	line-height: 0.75em;
	vertical-align: -0.06em;
}
.fa, .far, .fas {
	font-family: "Font Awesome 5 Free";
}
.fa, .fas {
	font-weight: 900;
}
.fa-school::before {
	content: "\f549";
}
.fa-graduation-cap::before {
	content: "\f19d";
}
.fab {
	font-family: "Font Awesome 5 Brands";
}
.fa-facebook::before {
	content: "\f09a";
}
.text-muted {
	color: #6c757d !important;
}
.fa-cogs::before {
	content: "\f085";
}
.fa-phone::before {
	content: "\f095";
}
.fa-question-circle::before {
	content: "\f059";
}
.fa-info-circle::before {
	content: "\f05a";
}
.teccards {
	border: 1px solid #4491e4;
	border-radius: 3px;
	background-color: #e4e4e4;
}
.fa-user::before {
	content: "\f007";
}
.fa-file-alt::before {
	content: "\f15c";
}
.mb-2, .my-2 {
	margin-bottom: 0.5rem !important;
}
.form-control {
	height: auto !important;
	padding: 8px 12px !important;
}
.cortextoform {
	color: grey !important;
	font-size: 13px !important;
}
textarea.form-control {
	height: auto;
}
:-ms-input-placeholder.form-control {
	color: #6c757d;
	opacity: 1;
}
.fa-envelope::before {
	content: "\f0e0";
}
.fa-arrow-right::before {
	content: "\f061";
}
.h3, h3 {
	font-size: 1.75rem;
}
.modal-title {
	margin-bottom: 0px;
	line-height: 1.5;
}
button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
}
.modal-header .close {
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
}
:not(:disabled):not(.disabled).close {
	cursor: pointer;
}
.fa-comment::before {
	content: "\f075";
}
a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}
.h4, h4 {
	font-size: 1.5rem;
}
.text-justify {
	text-align: justify !important;
}
b, strong {
	font-weight: bolder;
}
.text-primary {
	color: #007bff !important;
}
.main-login {
	background-color: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}
.main-center {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15%;
	width: 700px;
	padding: 10px 40px;
	background: #1484fd;
  border-radius: 15px;
	color: #fff;
	text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}
.borderlargo {
	border: 1px solid #3295FF;
	border-radius: .25rem;
	background-color: #4ca2ff;
	margin-top: 20px;
	margin-bottom: 10px;
}
#titulo_form {
	text-align: left;
	background-image: url("images/logoesm.png");
	background-repeat: no-repeat;
	background-size: 130px 60px;
	padding: 20px;
	background-position-x: 95%;
	background-position-y: 50%;
}
.form-group {
	margin-bottom: 1rem;
}
.form-group {
	margin-bottom: 15px;
}
.font-weight-bold {
	font-weight: 700 !important;
}
#button {
	border: 1px solid rgba(0, 123, 255, .5);
	margin-top: 28px;
	color: #009edf;
	cursor: pointer;
	-moz-border-radius: 3px 3px;
	-webkit-border-radius: 3px 3px;
	border-radius: 3px 3px;
	-moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
	-webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
	box-shadow: inset 0px 1px #fff, 0px 1px #ddd;
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
label {
	display: inline-block;
	margin-bottom: 0.5rem;
}
label {
	margin-bottom: 15px;
}
.input-group {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}
.input-group {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
}
.corlabelform {
	background-color: #006ee5;
}
.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0px;
}
.input-group > :not(:first-child).custom-select, .input-group > :not(:first-child).form-control {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.fa-desktop::before {
	content: "\f108";
}
.fa-door-open::before {
	content: "\f52b";
}
.fa-at::before {
	content: "\f1fa";
}
span.input-group-addon i {
	font-size: 17px;
	padding: 10px;
	width: 40px;
	text-align: center;
}
/* @media all and (min-width:576px) */
.col-sm-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
/* @media all and (min-width:992px) */
.col-lg-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
#titulo_form h5 {
	font-size: 25px !important;
}
.text-light {
	color: #f8f9fa !important;
}